@import 'tailwindcss';
/* Importation composant Flowbite */
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
    background-color: #eeeeee;
}

@theme {
    /** couleurs */
    --color-primary: #0e0f54;
    --color-primary-900: #404156;
    --color-primary-300: #9797AD;
    --color-secondary: #ffffff;
    --color-secondary-600: #eeeeee;
    --color-tertiary: #d9f20b;
    --color-tertiary-900: #c0ce4c;
    --color-tertiary-600: #dde97b;
    --color-tertiary-300: #f6ffa9;
    --color-accent: #e54e4e;
    --color-accent-600: #f3c5c5;
    --color-accent-300:#ffe3e3;

    /** Tailles de texte */
    --text-title: 1.75rem;
    --text-subtitle: 1.375rem;
    --text-body: 1rem;
    --text-label: 0.875rem;
    
}

@layer components {
    /** Textes */
    .text-title {
        line-height: 2.25rem;
        @apply text-primary font-normal text-title;
    }
    .text-subtitle {
        line-height: 1.75rem;
        @apply text-primary font-medium text-subtitle;
    }
    .text-body {
        line-height: 1.5rem;
        @apply text-primary-900 font-normal text-body;
    }
    .text-label {
        line-height: 1.25rem;
        @apply text-primary font-normal text-label;
    }
    
    /* Boutons */
    .btn-tertiary {
        @apply text-primary bg-tertiary box-border border border-transparent hover:bg-tertiary-300 hover:border-tertiary shadow-md font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none;
    }
    .btn-tertiary-300 {
        @apply text-primary bg-tertiary-900 box-border border border-transparent hover:bg-tertiary-600 hover:border-tertiary-600 shadow-md font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none;
    }
    .btn-accent-300 {
        @apply text-primary bg-accent-600 box-border border border-transparent hover:bg-accent-300 hover:border-accent-300 shadow-md font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none;
    }

    .btn-model{
        @apply border border-gray-300 rounded-base shadow-2xs p-2 mb-2 w-full text-left hover:bg-neutral-tertiary-medium;
    }

    .input-field {
        @apply py-3 px-4 border border-gray-200 rounded-xl bg-gray-50 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent;
    }

    
}

