@import 'tailwindcss';
/* Importation composant Flowbite */
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
    background-color: #eeeeee;
}

@theme {
    --color-primary: #0e0f54;
    --color-primary-900: #404156;
    --color-primary-300: #9797AD;
    --color-secondary: #ffffff;
    --color-secondary-600: #eeeeee;
    --color-tertiary: #d9f20b;
    --color-tertiary-900: #c0ce4c;
    --color-tertiary-600: #dde97b;
    --color-tertiary-300: #f6ffa9;
    --color-accent: #e54e4e;
    --color-accent-600: #f3c5c5;
    --color-accent-300:#ffe3e3;
}

@layer components {
    .btn-tertiary {
        @apply text-primary bg-tertiary box-border border border-transparent hover:bg-tertiary-300 hover:border-tertiary shadow-md font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none;
    }
    .btn-tertiary-300 {
        @apply text-primary bg-tertiary-900 box-border border border-transparent hover:bg-tertiary-600 hover:border-tertiary-600 shadow-md font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none;
    }
    .btn-accent-300 {
        @apply text-primary bg-accent-600 box-border border border-transparent hover:bg-accent-300 hover:border-accent-300 shadow-md font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none;
    }
}

